<%= form_with(model: payment_request) do |form| %>
  <% if payment_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment_request.errors.count, "error") %> prohibited this payment_request from being saved:</h2>

      <ul>
        <% payment_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <p>
    <strong>User:</strong>
    <%= payment_request.user_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment_request.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= payment_request.currency %>
  </p>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select(PaymentRequest.statuses.keys, payment_request.status) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
